---
---
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
		<header>
			<nav>
				<ul>
					<li><a href="#">Learning</a></li>
					<li><a href="#">Projects</a></li>
					<li><a href="#">About</a></li>
				</ul>
			</nav>
			<h1>Tutoriel</h1>
			<p>Having fun with Astro (I can't make a website by myself lol what a shame)</p>
		</header>
		<main>
			<h2>Titre 1</h2>
			<h3>Phrase 1</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente consequuntur quam non voluptate facere, dolorum sunt quasi cum reiciendis sit reprehenderit optio rem assumenda ipsam minus consequatur incidunt hic. In.</p>
		</main>
  </body>
</html>
